node_modules/
.turbo/
.vscode/
dist/
apps/**/dist/
packages/**/dist/
apps/**/.turbo/
packages/**/.turbo/
.next/
apps/**/.next/
apps/**/out/
.env
.env.*
*.log
coverage/
*.DS_Store
*.pem
*.swp
infra/terraform/.terraform/
infra/terraform/**/.terraform/*
infra/terraform/**/terraform.tfstate*
